// /*********** Fonts ***********/
// @font-face {
// /* Nunito Font */
// font-family: Nunito;
// src: url('../fonts/Nunito-Regular.ttf') format('truetype');

// /* Sriracha Font */
// font-family: Sriracha;
// src: url('../fonts/Sriracha-Regular.ttf') format('truetype');
// }
$nav-height: clamp(60px, 5vw, 80px);
$nav-height-sticky: clamp(40px, 5vw, 60px);
//*********** Colors ***********/
// $dark-marron: #290001;
$dark-marron: #3d1803;
$marron: #87431d;
$ligth-marron: #805343;
$super-ligth-marron: #dbcbbd;
$green: #025928;
$light-green: #02592854;
$white: #ffffff;

/*********** Default ***********/
*,
*::after,
*::before {
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

html,
body {
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: $dark-marron;
	line-height: 1.6;
}

h1,
h2,
h3,
p,
ul {
	margin: 0;
}

a {
	text-decoration: none;
}

/*********** Utils ***********/
.__hero-wrapper {
	width: 90%;
	max-width: 1080px;

	margin: auto;
}

.__main-wrapper {
	width: 80%;
	max-width: 960px;

	margin: auto;
}

.__margin-bottom {
	margin-bottom: clamp(3rem, 5vw, 5rem) !important;
}

.__text-center {
	text-align: center;
}

.__lead {
	font-size: clamp(2.5rem, 5vw, 10rem);
	text-transform: uppercase;
	font-weight: 500;
	font-family: 'Sriracha', Roboto, sans-serif;
	text-align: center;
}

.__one-sentence {
	font-size: clamp(1.2rem, 5vw, 1.7rem);
	font-style: italic;
	font-weight: 500;
	text-align: center;
}

.__primary-title {
	text-align: center;
	padding-top: clamp(1.5rem, 5vw, 2.5rem);
	margin-bottom: clamp(3rem, 5vw, 5rem);
}

.__brown-title {
	color: $marron;
	font-family: 'Sriracha', Roboto, sans-serif;
	position: relative;
	width: fit-content;
	margin: 0 auto;
}

.__brown-title::after {
	content: '';
	background: $marron;
	position: absolute;
	bottom: -1rem;
	left: 25%;
	right: 25%;
	width: 50%;
	height: 0.3rem;
}

.__green-title {
	color: $green !important;
}

.__secondary-title {
	color: $green !important;
	font-weight: 600;
}

.__regular-font-size {
	font-size: clamp(0.8rem, 5vw, 1.1rem);
}

.__medium-font-size {
	font-size: clamp(1.2rem, 5vw, 1.5rem);
}

.__big-font-size {
	font-size: clamp(1.8rem, 5vw, 3rem);
}

.__img {
	display: block;
	max-width: 100%;
}

ul {
	list-style: none;
}

a {
	color: $dark-marron;
}

a:hover,
a:focus {
	color: $green;
	text-decoration: none;
}

/*********** Buttons ***********/
.__button {
	border: 2px solid $green;
	background: $green;
	padding: 0.2rem 0.5rem !important;
	border-radius: 4px;
	color: $white !important;
	transition: background 0.2s ease-in;

	&:hover,
	&:focus {
		background: $light-green;
	}
}

.__button-light {
	background: $light-green;

	&:hover,
	&:focus {
		background: $green;
	}
}

/*********** Header ***********/
.__header {
	height: 100vh;
	background: url('../../images/slider1.jpg') no-repeat center center;
	background-size: cover;
	overflow-y: hidden;
}

.__header::before {
	content: '';
	position: absolute;
	background: rgba($white, 0.4);
	height: 100vh;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 20;
}

/*********** Navigation ***********/
.__nav {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	height: $nav-height;
	display: flex;
	align-items: center;
	transition: background 300ms ease-out, height 300ms ease-out;
}

.__navbar {
	display: flex;
	align-items: center;
}

.__nav-sticky {
	background: $white;
	box-shadow: -1px 2px 3px $dark-marron;
	height: $nav-height-sticky;
}

.__nav-brand {
	margin-right: auto;
	display: flex;
	align-items: center;
	color: $dark-marron;
	font-family: 'Sriracha', Roboto, sans-serif;
	font-size: clamp(0.9rem, 5vw, 1.3rem);

	&:hover,
	&:focus {
		color: $dark-marron;
		text-decoration: none;
	}

	img {
		margin-right: 0.6rem;
		height: clamp(30px, 4vw, 50px);
		width: clamp(30px, 4vw, 50px);
	}
}

.__nav-toggle {
	display: none;
}

.__nav-list {
	font-size: clamp(1rem, 5vw, 1.2rem);
	display: flex;
	gap: 1rem;
}

.__nav-link {
	position: relative;
	display: inline-block;
	min-width: 100px;
	width: 100%;
	padding-left: 0.7rem;
	padding-right: 0.3rem;
	transition: background 200ms ease-in-out;
}

.__nav-link.active,
.__nav-link:hover,
.__nav-link:focus {
	color: $green;
	font-weight: 600;
}

.__nav-link:hover::after,
.__nav-link:focus::after,
.__nav-link.active::after {
	content: '';
	position: absolute;
	bottom: -0.2rem;
	left: 0;
	background: $green;
	height: 0.15rem;
	width: 100%;
	z-index: 60;
}

/*********** Hero ***********/
.__hero {
	height: 90.5vh;
	width: 100%;
	padding-left: 0.8rem;
	padding-right: 0.8rem;
	position: absolute;
	top: $nav-height-sticky;
	left: 0;
	z-index: 40;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	// gap: clamp(1.5rem, 5vw, 2rem);
}

.__hero > button {
	margin-top: 2.5rem;
	font-size: clamp(1.2rem, 5vw, 1.5rem);
	padding: clamp(0.4rem, 5vw, 0.8rem) clamp(2.5rem, 5vw, 5rem) !important;
	color: $white !important;
}

/*********** Services ***********/
#services {
	overflow: hidden;
}

.__services-item {
	display: flex;
	flex-wrap: wrap;
}

.__services-img,
.__services-img-right {
	flex-basis: 35%;
}

.__services-img-right {
	order: 2;
}

.__services-img img,
.__services-img-right img {
	display: block;
	width: 100%;
}

.__services-description,
.__services-description-right {
	flex-basis: 65%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.8rem;
}

.__services-description > * {
	width: 90%;
	margin-left: auto;
}

.__services-description-right > * {
	width: 90%;
	margin-right: auto;
	text-align: right;
}

/*********** Recettes ***********/
#recettes {
	background: $super-ligth-marron;
	padding-bottom: clamp(3rem, 5vw, 5rem) !important;
	overflow: hidden;
}

.__recettes-content {
	display: flex;
	flex-wrap: wrap;
	margin-top: clamp(2rem, 5vw, 3.5rem);
}

.__recette-item {
	flex-basis: 50%;
}

.__recette-item:nth-child(1) .__recette-card {
	background-image: url('../../images/recettes1.jpg');
}
.__recette-item:nth-child(2) .__recette-card {
	background-image: url('../../images/recettes2.jpg');
}
.__recette-item:nth-child(3) .__recette-card {
	background-image: url('../../images/recettes3.jpg');
}
.__recette-item:nth-child(4) .__recette-card {
	background-image: url('../../images/recettes4.jpg');
}

.__recette-card {
	height: 420px;
	width: 65%;
	background-color: rgba($marron, 0.7);
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	h2 {
		color: $white;
		text-transform: uppercase;
		font-weight: 600;
		text-align: center;
		padding: 0 clamp(0.3rem, 5vw, 0.4rem);
	}

	.__button {
		font-size: clamp(0.8rem, 5vw, 1.1rem);
		padding: 0.4rem 1.8rem !important;
		margin-left: auto;
		margin-right: -1.8rem;
	}
}

.__recette-card-left {
	margin-right: 2.5rem;
	margin-left: auto;
}

.__recette-card-right {
	margin-left: 2.5rem;
	margin-right: auto;
	margin-top: 2.5rem;
}

.__recette-item:nth-child(3),
.__recette-item:nth-child(4) {
	margin-top: 2.5rem;
}

/*********** Apropos ***********/
#apropos {
	overflow: hidden;
}
.__about-intro {
	margin-top: 1.4rem;
	margin-bottom: 1.4rem;
}

.__team-card-container {
	// border: 1px solid black;
	width: 90%;
	margin: 0 auto;
	margin-top: 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	//TODO : Get it away in small devices
	gap: 1.5rem;
}

.__team-card {
	position: relative;
	width: 250px;
	overflow: hidden;
}

.__team-card:nth-of-type(2) {
	width: 300px;
}

.__team-card::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: 15;
	transition: background 200ms ease-in-out;
}

.__team-infos {
	position: absolute;
	bottom: -135px;
	left: 0;
	width: 100%;
	z-index: 18;
	color: $white;
	transition: bottom 200ms ease-in-out;
	text-align: center;
	padding: 1.3rem;
}

.__team-card img {
	transition: transform 200ms ease-in-out;
}

.__team-card:hover,
.__team-card:focus {
	& > img {
		transform: scale(1.1);
	}

	&::after {
		content: '';
		position: absolute;
		background-image: linear-gradient(
			rgba($dark-marron, 0.2) 0.3,
			$dark-marron
		);
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 15;
	}

	.__team-infos {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 18;
	}
}

.__team-name {
	font-weight: 600;
	letter-spacing: 1.5px;
}

.__team-job {
	font-style: italic;
	font-size: clamp(0.7rem, 5vw, 0.9rem);
}

.__social-container {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	gap: 1.5rem;
}

.__social {
	display: inline-block;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
}

.__social:hover,
.__social:focus {
	color: $dark-marron !important;
}

/*********** Contact ***********/
#contact {
	// height: 80vh;
	padding-bottom: clamp(3rem, 5vw, 5rem) !important;
	background: url('../../images/contact-bg.jpg') center center no-repeat fixed;
	background-size: cover;
	position: relative;
	overflow: hidden;
}

#contact > * {
	position: relative;
	z-index: 18;
}

#contact::after {
	content: '';
	background: rgba($white, 0.4);
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 15;
}

.__contact-container {
	// border: 1px solid black;
	background: $super-ligth-marron;
	padding-top: 3rem;
	padding-bottom: 3rem;
	width: 50%;
	text-align: center;
	margin-top: clamp(5rem, 5vw, 9rem);
}

.__contact-container p:nth-of-type(2) {
	margin-top: 0.25rem;
}

.__contact-label {
	font-weight: 600;
}

.__social-contact {
	margin-top: 1.5rem;
	display: flex;
	justify-content: center;
}

.__social-item {
	margin: 0 0.5rem;
	height: 40px;
	width: 40px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*********** Contact ***********/
#newsletter {
	background: $ligth-marron;
	height: 35vh;
	overflow-y: hidden;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#newsletter p {
	color: $white;
	margin-bottom: 0.5rem;
	width: 100%;
	// border: 1px solid black;
}

input {
	width: 400px;
	height: 40px;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

#newsletter button {
	padding: 0.4rem 1rem 0.6rem 1rem !important;
}

footer {
	// font-size: 0.85rem;
	padding: 0.5rem;
}

@media screen and (max-width: 992px) {
	.__hero-wrapper {
		width: 95%;
		min-width: 200px;
		margin: auto;
	}

	.__nav {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 30;
	}

	.__nav-list {
		width: 300px;
		height: 100%;
		position: fixed;
		right: -300px;
		top: $nav-height-sticky;
		z-index: -30;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;
		padding: 2rem 1.5rem;
		background: $super-ligth-marron;
		transition: right 200ms ease-in-out;
	}

	.__nav-list-show {
		right: 0;
	}
	.__nav-toggle {
		display: block;
	}

	.__nav-item {
		width: 100%;
		text-align: center;
	}

	.__hero {
		z-index: 25;
	}

	.__recette-card {
		height: 350px;
	}

	.__team-card-container {
		width: 100%;
	}
}

@media screen and (max-width: 882px) {
	.__recette-card .__button {
		padding: 0.2rem 1rem !important;
		margin-left: auto;
		margin-right: -1.2rem;
	}

	.__services-item {
		margin-bottom: 1.5rem;
	}

	.__services-description > *,
	.__services-description-right > * {
		width: 95%;
	}

	.__contact-container {
		width: 60%;
		margin: 0 auto;
		margin-top: clamp(5rem, 5vw, 9rem);
	}

	.__social-contact {
		margin-top: 1.5rem;
		display: flex;
		justify-content: center;
	}

	.__social-item {
		margin: 0 0.5rem;
		height: 40px;
		width: 40px;
		border-radius: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media screen and (max-width: 768px) {
	.__nav-list {
		width: 200px;
		right: -200px;
	}

	.__nav-list-show {
		right: 0;
	}

	.__services-item {
		margin-bottom: 0;
	}

	.__services-item + .__services-item {
		margin-top: 3rem;
	}

	.__services-img,
	.__services-img-right {
		flex-basis: 100%;
	}

	.__services-img-right {
		order: 0;
	}

	.__services-img img,
	.__services-img-right img {
		width: 60%;
		margin: 0 auto;
	}

	.__services-description,
	.__services-description-right {
		flex-basis: 100%;
		margin-top: 0.5rem;
		gap: 0.4rem;
	}

	.__services-description > *,
	.__services-description-right > * {
		width: 100%;
		text-align: center;
	}

	.__recette-item {
		flex-basis: 100%;
	}

	.__recette-card {
		width: 60%;

		.__button {
			padding: 0.3rem 1.6rem !important;
			margin-left: auto;
			margin-right: -1.8rem;
		}
	}

	.__recette-card-left,
	.__recette-card-right {
		margin: 0 auto;
	}

	.__recette-item:nth-child(3),
	.__recette-item:nth-child(4) {
		margin-top: 0rem;
	}

	.__recette-item + .__recette-item {
		margin-top: 2rem;
	}

	.__team-card-container {
		width: 100%;
		flex-wrap: wrap;
		gap: 1.5rem;
	}

	.__team-card,
	.__team-card:nth-of-type(2) {
		width: 60%;
		margin: 0 auto;
	}

	.__team-card img {
		width: 100%;
	}

	.__contact-container {
		width: 70%;
	}

	#newsletter input {
		margin-bottom: 1rem;
	}
}

@media screen and (max-width: 532px) {
	.__services-img img,
	.__services-img-right img {
		width: 100%;
	}

	.__recette-card {
		width: 80%;

		.__button {
			margin-right: -1rem;
		}
	}

	.__team-card,
	.__team-card:nth-of-type(2) {
		width: 80%;
	}

	.__contact-container {
		width: 90%;
	}

	#newsletter input {
		width: 100%;
	}
}

@media screen and (max-width: 425px) {
	.__lead {
		line-height: 1.2;
		margin-bottom: 1rem;
	}

	.__recette-card {
		width: 100%;

		.__button {
			margin: 0 auto;
		}
	}

	.__team-card,
	.__team-card:nth-of-type(2) {
		width: 100%;
	}

	.__contact-container {
		width: 100%;
		padding: 2rem 1rem;
	}

	.__contact-container p:nth-of-type(2) {
		margin-top: 0.5rem;
	}

	.__contact-label,
	.__contact-label + span {
		display: inline-block;
	}

	.__social-contact {
		flex-wrap: wrap;
	}
	.__social-item {
		margin: 0 0.25rem 0.5rem 0.25rem;
	}
}
