/*********** Default ***********/
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #3d1803;
  line-height: 1.6;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

a {
  text-decoration: none;
}

/*********** Utils ***********/
.__hero-wrapper {
  width: 90%;
  max-width: 1080px;
  margin: auto;
}

.__main-wrapper {
  width: 80%;
  max-width: 960px;
  margin: auto;
}

.__margin-bottom {
  margin-bottom: clamp(3rem, 5vw, 5rem) !important;
}

.__text-center {
  text-align: center;
}

.__lead {
  font-size: clamp(2.5rem, 5vw, 10rem);
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Sriracha', Roboto, sans-serif;
  text-align: center;
}

.__one-sentence {
  font-size: clamp(1.2rem, 5vw, 1.7rem);
  font-style: italic;
  font-weight: 500;
  text-align: center;
}

.__primary-title {
  text-align: center;
  padding-top: clamp(1.5rem, 5vw, 2.5rem);
  margin-bottom: clamp(3rem, 5vw, 5rem);
}

.__brown-title {
  color: #87431d;
  font-family: 'Sriracha', Roboto, sans-serif;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.__brown-title::after {
  content: '';
  background: #87431d;
  position: absolute;
  bottom: -1rem;
  left: 25%;
  right: 25%;
  width: 50%;
  height: 0.3rem;
}

.__green-title {
  color: #025928 !important;
}

.__secondary-title {
  color: #025928 !important;
  font-weight: 600;
}

.__regular-font-size {
  font-size: clamp(0.8rem, 5vw, 1.1rem);
}

.__medium-font-size {
  font-size: clamp(1.2rem, 5vw, 1.5rem);
}

.__big-font-size {
  font-size: clamp(1.8rem, 5vw, 3rem);
}

.__img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  color: #3d1803;
}

a:hover,
a:focus {
  color: #025928;
  text-decoration: none;
}

/*********** Buttons ***********/
.__button {
  border: 2px solid #025928;
  background: #025928;
  padding: 0.2rem 0.5rem !important;
  border-radius: 4px;
  color: #ffffff !important;
  -webkit-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}

.__button:hover, .__button:focus {
  background: #02592854;
}

.__button-light {
  background: #02592854;
}

.__button-light:hover, .__button-light:focus {
  background: #025928;
}

/*********** Header ***********/
.__header {
  height: 100vh;
  background: url("../../images/slider1.jpg") no-repeat center center;
  background-size: cover;
  overflow-y: hidden;
}

.__header::before {
  content: '';
  position: absolute;
  background: rgba(255, 255, 255, 0.4);
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
}

/*********** Navigation ***********/
.__nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  height: clamp(60px, 5vw, 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background 300ms ease-out, height 300ms ease-out;
  transition: background 300ms ease-out, height 300ms ease-out;
}

.__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.__nav-sticky {
  background: #ffffff;
  -webkit-box-shadow: -1px 2px 3px #3d1803;
          box-shadow: -1px 2px 3px #3d1803;
  height: clamp(40px, 5vw, 60px);
}

.__nav-brand {
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3d1803;
  font-family: 'Sriracha', Roboto, sans-serif;
  font-size: clamp(0.9rem, 5vw, 1.3rem);
}

.__nav-brand:hover, .__nav-brand:focus {
  color: #3d1803;
  text-decoration: none;
}

.__nav-brand img {
  margin-right: 0.6rem;
  height: clamp(30px, 4vw, 50px);
  width: clamp(30px, 4vw, 50px);
}

.__nav-toggle {
  display: none;
}

.__nav-list {
  font-size: clamp(1rem, 5vw, 1.2rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.__nav-link {
  position: relative;
  display: inline-block;
  min-width: 100px;
  width: 100%;
  padding-left: 0.7rem;
  padding-right: 0.3rem;
  -webkit-transition: background 200ms ease-in-out;
  transition: background 200ms ease-in-out;
}

.__nav-link.active,
.__nav-link:hover,
.__nav-link:focus {
  color: #025928;
  font-weight: 600;
}

.__nav-link:hover::after,
.__nav-link:focus::after,
.__nav-link.active::after {
  content: '';
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  background: #025928;
  height: 0.15rem;
  width: 100%;
  z-index: 60;
}

/*********** Hero ***********/
.__hero {
  height: 90.5vh;
  width: 100%;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  position: absolute;
  top: clamp(40px, 5vw, 60px);
  left: 0;
  z-index: 40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.__hero > button {
  margin-top: 2.5rem;
  font-size: clamp(1.2rem, 5vw, 1.5rem);
  padding: clamp(0.4rem, 5vw, 0.8rem) clamp(2.5rem, 5vw, 5rem) !important;
  color: #ffffff !important;
}

/*********** Services ***********/
#services {
  overflow: hidden;
}

.__services-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.__services-img,
.__services-img-right {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}

.__services-img-right {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.__services-img img,
.__services-img-right img {
  display: block;
  width: 100%;
}

.__services-description,
.__services-description-right {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.8rem;
}

.__services-description > * {
  width: 90%;
  margin-left: auto;
}

.__services-description-right > * {
  width: 90%;
  margin-right: auto;
  text-align: right;
}

/*********** Recettes ***********/
#recettes {
  background: #dbcbbd;
  padding-bottom: clamp(3rem, 5vw, 5rem) !important;
  overflow: hidden;
}

.__recettes-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: clamp(2rem, 5vw, 3.5rem);
}

.__recette-item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.__recette-item:nth-child(1) .__recette-card {
  background-image: url("../../images/recettes1.jpg");
}

.__recette-item:nth-child(2) .__recette-card {
  background-image: url("../../images/recettes2.jpg");
}

.__recette-item:nth-child(3) .__recette-card {
  background-image: url("../../images/recettes3.jpg");
}

.__recette-item:nth-child(4) .__recette-card {
  background-image: url("../../images/recettes4.jpg");
}

.__recette-card {
  height: 420px;
  width: 65%;
  background-color: rgba(135, 67, 29, 0.7);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.__recette-card h2 {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  padding: 0 clamp(0.3rem, 5vw, 0.4rem);
}

.__recette-card .__button {
  font-size: clamp(0.8rem, 5vw, 1.1rem);
  padding: 0.4rem 1.8rem !important;
  margin-left: auto;
  margin-right: -1.8rem;
}

.__recette-card-left {
  margin-right: 2.5rem;
  margin-left: auto;
}

.__recette-card-right {
  margin-left: 2.5rem;
  margin-right: auto;
  margin-top: 2.5rem;
}

.__recette-item:nth-child(3),
.__recette-item:nth-child(4) {
  margin-top: 2.5rem;
}

/*********** Apropos ***********/
#apropos {
  overflow: hidden;
}

.__about-intro {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}

.__team-card-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.__team-card {
  position: relative;
  width: 250px;
  overflow: hidden;
}

.__team-card:nth-of-type(2) {
  width: 300px;
}

.__team-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  -webkit-transition: background 200ms ease-in-out;
  transition: background 200ms ease-in-out;
}

.__team-infos {
  position: absolute;
  bottom: -135px;
  left: 0;
  width: 100%;
  z-index: 18;
  color: #ffffff;
  -webkit-transition: bottom 200ms ease-in-out;
  transition: bottom 200ms ease-in-out;
  text-align: center;
  padding: 1.3rem;
}

.__team-card img {
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.__team-card:hover > img,
.__team-card:focus > img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.__team-card:hover::after,
.__team-card:focus::after {
  content: '';
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, rgba(61, 24, 3, 0.2)), to(#3d1803));
  background-image: linear-gradient(rgba(61, 24, 3, 0.2) 0.3, #3d1803);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
}

.__team-card:hover .__team-infos,
.__team-card:focus .__team-infos {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 18;
}

.__team-name {
  font-weight: 600;
  letter-spacing: 1.5px;
}

.__team-job {
  font-style: italic;
  font-size: clamp(0.7rem, 5vw, 0.9rem);
}

.__social-container {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
}

.__social {
  display: inline-block;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
}

.__social:hover,
.__social:focus {
  color: #3d1803 !important;
}

/*********** Contact ***********/
#contact {
  padding-bottom: clamp(3rem, 5vw, 5rem) !important;
  background: url("../../images/contact-bg.jpg") center center no-repeat fixed;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

#contact > * {
  position: relative;
  z-index: 18;
}

#contact::after {
  content: '';
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 15;
}

.__contact-container {
  background: #dbcbbd;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 50%;
  text-align: center;
  margin-top: clamp(5rem, 5vw, 9rem);
}

.__contact-container p:nth-of-type(2) {
  margin-top: 0.25rem;
}

.__contact-label {
  font-weight: 600;
}

.__social-contact {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.__social-item {
  margin: 0 0.5rem;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*********** Contact ***********/
#newsletter {
  background: #805343;
  height: 35vh;
  overflow-y: hidden;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#newsletter p {
  color: #ffffff;
  margin-bottom: 0.5rem;
  width: 100%;
}

input {
  width: 400px;
  height: 40px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#newsletter button {
  padding: 0.4rem 1rem 0.6rem 1rem !important;
}

footer {
  padding: 0.5rem;
}

@media screen and (max-width: 992px) {
  .__hero-wrapper {
    width: 95%;
    min-width: 200px;
    margin: auto;
  }
  .__nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 30;
  }
  .__nav-list {
    width: 300px;
    height: 100%;
    position: fixed;
    right: -300px;
    top: clamp(40px, 5vw, 60px);
    z-index: -30;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.5rem;
    padding: 2rem 1.5rem;
    background: #dbcbbd;
    -webkit-transition: right 200ms ease-in-out;
    transition: right 200ms ease-in-out;
  }
  .__nav-list-show {
    right: 0;
  }
  .__nav-toggle {
    display: block;
  }
  .__nav-item {
    width: 100%;
    text-align: center;
  }
  .__hero {
    z-index: 25;
  }
  .__recette-card {
    height: 350px;
  }
  .__team-card-container {
    width: 100%;
  }
}

@media screen and (max-width: 882px) {
  .__recette-card .__button {
    padding: 0.2rem 1rem !important;
    margin-left: auto;
    margin-right: -1.2rem;
  }
  .__services-item {
    margin-bottom: 1.5rem;
  }
  .__services-description > *,
  .__services-description-right > * {
    width: 95%;
  }
  .__contact-container {
    width: 60%;
    margin: 0 auto;
    margin-top: clamp(5rem, 5vw, 9rem);
  }
  .__social-contact {
    margin-top: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .__social-item {
    margin: 0 0.5rem;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .__nav-list {
    width: 200px;
    right: -200px;
  }
  .__nav-list-show {
    right: 0;
  }
  .__services-item {
    margin-bottom: 0;
  }
  .__services-item + .__services-item {
    margin-top: 3rem;
  }
  .__services-img,
  .__services-img-right {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .__services-img-right {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .__services-img img,
  .__services-img-right img {
    width: 60%;
    margin: 0 auto;
  }
  .__services-description,
  .__services-description-right {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 0.5rem;
    gap: 0.4rem;
  }
  .__services-description > *,
  .__services-description-right > * {
    width: 100%;
    text-align: center;
  }
  .__recette-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .__recette-card {
    width: 60%;
  }
  .__recette-card .__button {
    padding: 0.3rem 1.6rem !important;
    margin-left: auto;
    margin-right: -1.8rem;
  }
  .__recette-card-left,
  .__recette-card-right {
    margin: 0 auto;
  }
  .__recette-item:nth-child(3),
  .__recette-item:nth-child(4) {
    margin-top: 0rem;
  }
  .__recette-item + .__recette-item {
    margin-top: 2rem;
  }
  .__team-card-container {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.5rem;
  }
  .__team-card,
  .__team-card:nth-of-type(2) {
    width: 60%;
    margin: 0 auto;
  }
  .__team-card img {
    width: 100%;
  }
  .__contact-container {
    width: 70%;
  }
  #newsletter input {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 532px) {
  .__services-img img,
  .__services-img-right img {
    width: 100%;
  }
  .__recette-card {
    width: 80%;
  }
  .__recette-card .__button {
    margin-right: -1rem;
  }
  .__team-card,
  .__team-card:nth-of-type(2) {
    width: 80%;
  }
  .__contact-container {
    width: 90%;
  }
  #newsletter input {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .__lead {
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  .__recette-card {
    width: 100%;
  }
  .__recette-card .__button {
    margin: 0 auto;
  }
  .__team-card,
  .__team-card:nth-of-type(2) {
    width: 100%;
  }
  .__contact-container {
    width: 100%;
    padding: 2rem 1rem;
  }
  .__contact-container p:nth-of-type(2) {
    margin-top: 0.5rem;
  }
  .__contact-label,
  .__contact-label + span {
    display: inline-block;
  }
  .__social-contact {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .__social-item {
    margin: 0 0.25rem 0.5rem 0.25rem;
  }
}
/*# sourceMappingURL=style.css.map */